.container-NavBar{
width: 100%;
height: 70px;
font-size: 17px;
display: flex;
justify-content: center;
align-items: center;
font-weight: 600;
}

.container-NavBar-logo{
width: 8%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;

}
.NavBar-image{
width: 100%;
height: 26px;
}
.container-NavBar-Middle{
    width: 47%;
    height: 100%;
    display: flex;
justify-content: center;
align-items: center;
}
.margin20px-left{
    margin-left: 20px;
 
}
.container-NavBar-Sachdientu{
  
height: 100%;display: flex;
justify-content: center;
align-items: center;
margin-left: 10px;
}
.container-NavBar-Sachnoi{

height: 100%;display: flex;
justify-content: center;
align-items: center;
}
.container-NavBar-Sachhieunoi{
   
height: 100%;display: flex;
justify-content: center;
align-items: center;
}
.container-NavBar-Sachtomtat{

height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.container-NavBar-Podcast{

height: 100%;display: flex;
justify-content: center;
align-items: center;
}
.container-NavBar-xemthem{

height: 100%;display: flex;
justify-content: center;
align-items: center;
}

.container-NavBar-Search{
    margin-left: 30px;
    width: 18%;
height: 100%;
display: flex;
justify-content: center;
align-items: center;
}
.Search{
    display: flex;
justify-content: center;
align-items: center;
width: 100%;
height: 100%;
}
.input-search{
  width: 80%;
  height: 20%;
  margin-right: 10px;
}
.fa-magnifying-glass{
    width: 24px;
    height: 24px;
    font-size: 24px;
}
.container-NavBar-Goicuoc{
    width: 8%;
height: 100%;display: flex;
justify-content: center;
align-items: center;
}
.container-NavBar-Dangky{
    width: 8%;
height: 100%;display: flex;
justify-content: center;
align-items: center;
}
.container-NavBar-DangNhap{
    width: 8%;
height: 100%;display: flex;
justify-content: center;
align-items: center;
}



.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }