.btn-space {
  margin-left: 10px;
}

.tieude {
  opacity: 0.6;
}

.tenchucvuchucdanh {
  font-size: 20px;
  font-weight: 500;
}

.edit-btn {
  color: blue;
}

.delete-btn {
  color: red;
}

.hover-table {
  transition: all 0.6s ease;
}

.hover-table:hover {
  background-color: bisque;
}
