.row-with-border-danhmuc-gate {
  margin-top: 10px;


  display: flex;
  justify-content: center;
  align-items: center;



  outline: 0.2px solid rgba(48, 54, 61, 0.2);
  /* Màu nhạt hơn với độ trong suốt */

  border-radius: 9px;

  padding: 15px 10px 0px 0px;
  /* Ghi gọn các thuộc tính padding */
}

.row-with-border-danhmuc {
  margin-top: 10px;
  margin-bottom: 5px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-left: 10px;

  outline: 0.2px solid rgba(48, 54, 61, 0.2);
  /* Màu nhạt hơn với độ trong suốt */

  border-radius: 9px;

  padding: 20px 20px 20px 20px;
  /* Ghi gọn các thuộc tính padding */

}

.pml-2 {
  margin-left: 10px !important;
}

.row-with-border-danhmuc-nodisplay-flex {
  margin-top: 10px;
  margin-bottom: 5px;



  outline: 0.2px solid rgba(48, 54, 61, 0.2);
  /* Màu nhạt hơn với độ trong suốt */

  border-radius: 9px;

  padding: 20px 20px 20px 25px;
  /* Ghi gọn các thuộc tính padding */



}

.custom-col {
  width: calc(100% + 14px);
  /* Thêm chiều rộng 10px */
  max-width: calc((7 / 12) * 100% + 14px);
  /* Đảm bảo chiều rộng không vượt quá 7 cột cộng thêm 10px */
}


.text-open-gate {
  opacity: 0.6;
  font-size: 13px;
  padding-left: 3px;
  user-select: none;
  margin-left: 3%;

  right: 0;
}

// .row-with-border-danhmuc {
//     white-space: nowrap;
//     overflow: hidden;
//     text-overflow: ellipsis;
//   }

// .detai-a {
//   display: flex;
//   align-items: center;
// }

// .detai-b {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
// }



.position-re {
  position: relative;
}

.position-ab {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  margin-top: 10px;
  width: auto;
  height: auto;

  // padding-top: 15px;
  padding-right: 10px;
}

.position-ab-button {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  margin-top: 20px;

  padding-top: 20px;


}

.position-ab:hover {
  cursor: pointer;
}




.background-color {
  background-color: rgba(6, 81, 50, 0.495);
}





// ------------css gợi ý -----------------

.suggestions-list {
  position: absolute;
  /* Đặt vị trí tuyệt đối để hiển thị bên dưới input */
  background-color: white;
  /* Màu nền trắng */
  border: 1px solid #88b9f6;
  /* Viền nhẹ */
  border-radius: 4px;
  /* Bo tròn góc */
  // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1); /* Đổ bóng */
  max-height: 200px;
  /* Chiều cao tối đa */
  width: 100%;
  z-index: 1000;
  /* Đảm bảo danh sách gợi ý hiển thị trên các phần tử khác */
}

.suggestions-list div {
  padding: 8px 12px;
  /* Padding cho từng mục gợi ý */
  cursor: pointer;
  /* Con trỏ chuột khi di chuột qua */
}

.suggestions-list div:hover {
  background-color: #f9fafb;
  /* Đổi màu nền khi di chuột qua mục */
}

@media (min-width: 768px) {

  /* Medium devices (laptop size M and up) */

  .resposive-text-thongtintacgia {
    color: #0169ea;
  }

  .fix-width {
    width: 320px;
    height: 80px;
    background-color: red;
  }

  .responsive-thongtingiangvien-khoa {
    padding-top: 10px;
  }

  .responsive-thongtingiangvien-searchtengv {}

  .responsive-hoantatdangky {
    margin-top: 30px;
  }

  .responsive-isVienChuc {
    padding-top: 0px;
    width: auto;

  }

  .responsive-loaitacgia {
    margin-left: 20px;
  }

  .responsive-thongtingiangvien-loaitacgia {
    padding-top: 35px;
  }

  .responsive-hoantatdangky {
    margin-top: 0px;
  }
}

@media (max-width: 650px) {
  /* Smaller devices */

  .responsive-tendetai {
    display: none;
  }

  .custom-col {
    width: 100%;
    max-width: 100%;
    margin-left: 10px;
  }

  .responsive-namhoc {

    margin-top: 10px;
  }

  .responsive-thongtingiangvien-khoa {
    padding-top: 60px;
  }

  .responsive-thongtingiangvien-formcheckbox {
    margin-top: 10px;

    color: rgb(26, 73, 42);

  }

  .responsive-loaitacgia {
    margin-top: 20px;
  }

  .responsive-thongtingiangvien-searchtengv {
    // padding-top: 75px;
    margin-top: 30px;

  }

  .resposive-text-thongtintacgia {
    color: #0169ea;
  }

  .responsive-hoantatdangky {
    margin-top: 30px;
  }

}

@media (max-width: 450px) {
  /* Even Smaller devices */

}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Even Smaller devices */

}


.color-text {
  color: #B22222;
}