.giang-vien-profile {
    max-width: 1200px;
    height: 95vh;
    margin: 0 auto;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border-radius: 8px;
    .CardHeader-profile-avt{
        border-radius: 12px;background-color: #ffffff; 
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
        border: 0.5px solid rgb(218, 214, 214); 
    }
   
    .profile-header {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
  
      .profile-avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        margin-right: 16px;
        object-fit: cover;
        background-color: #673ab7;
      }
  
      .profile-name {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }
    }
    .container-button-edit{
      position: absolute;
      right: 0;
      top: 0;
      margin-top: 15px;
      margin-right:15px;
      border: 0.5px solid  #21409A;; 
      padding: 5px 10px;
      user-select: none;
      cursor: pointer;
      font-size: 14px;
      transition: color 0.3s ease;
      border-radius: 4px;
    &:hover{
  color: #21409A;
  border: 0.5px solid  #000000;; 
    }

    }
    .container-profile-button-Luu{
      background-color: #21409A;
    }
    .container-profile-button-Huy{
      background-color: #236199;
    }
  .container-profile-details{
    border: 0.5px solid rgb(218, 214, 214); 
     box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
    border-radius: 15px;
    padding: 20px 5px;
    position: relative;
    background-color: #ffffff;
  }
    .profile-details {
      p {
        margin-bottom: 16px;
        font-size: 16px;
        color: #555;
       
        strong {
          color: #000;
        }
      }
    }
  }
  .profile-gv-avt-cv{
margin-bottom: 0;
  }
  .container-profile-avt-name{
    padding-top: 40px;
  }
  .pml-1{
    margin-left: 10px;
    margin-top: -10px;
  }
  .pmt-1{
    font-weight: 700;
    // color: red;
  }
  .pmleft-1{
    margin-left: 12px;
  }

  @media (max-width: 768px) {
    
  }
  
  /* Media query cho điện thoại */
  @media (max-width: 480px) {
    .giang-vien-profile{
      height: 100vh +35vh;
    
    }
   .profile-email-input{
    margin-top: 10px;
   }
  }