.giang-vien-profile {
    max-width: 1200px;
    margin: 0 auto;
    padding: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    border-radius: 8px;
    .CardHeader-profile-avt{
        border-radius: 12px;
    }
    .profile-header {
      display: flex;
      align-items: center;
      margin-bottom: 16px;
  
      .profile-avatar {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        margin-right: 16px;
        object-fit: cover;
        background-color: #673ab7;
      }
  
      .profile-name {
        font-size: 24px;
        font-weight: bold;
        color: #333;
      }
    }
  
    .profile-details {
      p {
        margin-bottom: 16px;
        font-size: 16px;
        color: #555;
  
        strong {
          color: #000;
        }
      }
    }
  }
  .profile-gv-avt-cv{
margin-bottom: 0;
  }
  .container-profile-avt-name{
    padding-top: 40px;
  }
  .pml-1{
    margin-left: 10px;
    margin-top: -10px;
  }
  .pmt-1{
    font-weight: 700;
    // color: red;
  }
  .pmleft-1{
    margin-left: 12px;
  }