.container-chat-admin {
    width: 100%;
    height: 565px;

}

.container-chat-admin-headerListUser {
    width: 100%;

    height: 80px;
    display: flex;
    justify-content: flex-start;
    /* Đảm bảo các phần tử được căn trái */
    align-items: center;
    overflow-x: scroll;

    /* Hiển thị thanh cuộn ngang khi cần */
    white-space: nowrap;
    /* Ngăn các phần tử xuống dòng */
    padding-bottom: 10px;
}

.headerListUser.selected {
    background-color: #303030;
    color: white;
    /* Đặt màu nền khi được chọn */
    /* Thêm các thuộc tính CSS khác nếu cần */
}


.headerListUser {
    transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
    user-select: none;
    margin-left: 10px;
    margin-right: 10px;
    /* Tạo khoảng cách giữa các phần tử */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    /* Hiệu ứng bóng đổ nhẹ */
    transition: transform 0.3s ease;
    padding-right: 35px;
    padding-left: 35px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 13px;
}

.headerListUser:hover {
    transform: scale(1.05);
    /* Phóng to phần tử khi di chuột vào */
    cursor: pointer;
}

.headerListUser p {
    margin: 0;
    font-size: 14px;
}

/* 
.container-chat-admin-headerListUser::-webkit-scrollbar {
    display: none;

} */

.headerListUser-avata {
    width: 60px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}



.container-chat-admin-headerListUser::-webkit-scrollbar {
    width: 5px;
    height: 7px;
}

.container-chat-admin-headerListUser::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}

.container-chat-admin-headerListUser::-webkit-scrollbar-thumb {
    background-color: #242526;
    border-radius: 10px;
}

.container-chat-admin-headerListUser::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.text-align-right {
    text-align: right;
}

.chat-container::-webkit-scrollbar-track {
    background-color: #ffffff;
    border-radius: 10px;
}


.chat-container {
    padding-top: 10px;
    width: 100%;
    height: 94%;
    padding-bottom: 10px;
}

.container-chat-realtime-sendAdmin {

    width: 100%;
    height: 40px;
    background-color: #242526;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1px;
    border-radius: 13px;
}