
.modal-updateGV{
background-color: #ffffff;
}

.modal-updateGV {
    overflow: auto; /* Cho phép cuộn */
  }
  
  /* Đối với trình duyệt dựa trên WebKit (Chrome, Safari, Edge) */
  .modal-updateGV::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn */
  }
  
  /* Đối với Firefox */
  .modal-updateGV {
    scrollbar-width: none; /* Ẩn thanh cuộn */
  }
