.vertical-divider {
    width: 1px;
    background-color: #ccc;
    height: 100%;
    margin: 0 auto;
}

.vertical-divider-ngang {
    width: 100%;
    height: 1px;
    background-color: #ccc;

    margin: 0 auto;
}