#btn-Login {
    background-color: #212b36;
    z-index: 2000;
    color: white;
    text-transform: none;
    border-radius: 11px;
}

#btn-Login:hover {
    background-color: #212b36;
}

.imglogo-changepass {
    width: 30px;
    height: 30px;
}

.imglogo-changepass1 {
    width: 52px;
    height: 52px;
}